body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	text-align: center;
}

h1{
	font-size: 45px;
}

h2{
	color: #40f759;
}

/* Header */
header {
	text-align: center ;
	color: #ffff;
	background-image: url("https://images.unsplash.com/photo-1646226343350-1ee5021e342a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGhhcmQlMjBkaXNrc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
	background-size: cover;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size: 20px;
	margin-bottom: auto;
	padding-top: 3%;
	padding-bottom: 8%;

}

		
/*Menu de navigation*/
		
.ulmenu {
	margin-top: -20px;
	padding: 0;
	
}

.limenu {
	display: inline-block;
	padding: 13px 19px;
	margin-right: 6px;
	background-color: #000000;
	border-color: #4e8c38;
	border-radius: 5px;
}

.amenu {
	text-decoration: none;
	color: #ffff;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	padding: 10px 0px; 
	font-family:"Helvetica Neue",Helvetica,sans-serif;
}

.amenu:hover{
	color: #40f759;
	border-bottom: 2px solid #FAF7E3;
}


/* Footer */

footer {
	background-color:hsl(0, 0%, 0%);
	color: #40f759;
	padding: 12px;	
	
}	

table.footer {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}	

.footerleft {
	border-right: 1px solid #40f759; 
	padding-right: 50px;
}

.contact {
	height: 15px; 
	color: #40f759;
}
.icon {
	height: 20px; 
}


/*Page d'Acceuil*/

.titlecontent {
	text-align: left;
}	

#title{
	background-color: #ffff;
	padding: 5%;
	text-align: left;
}

#container-top{
	padding: 10% 15%;

}

/* Containers  */

.container-middle{
	padding-top: 10%;
	padding-right: 9%;
	padding-bottom: 15%;
	background-color: #52d152;
}

.container-bottom{
	padding-top: 10%;
	padding-right: 5%;
	padding-bottom: 10%;
	padding-left: 5%;
	text-align: left;
}

.contentleft {

	margin-top: 0px; 
	padding-top: 100px; 
	margin-left: 4%;
}	

.container-partenaires{
	background-color: #52d152;
	padding:5% 5%;
}


/* Images page d'accueil */

.imgright {
	float: right;
	max-width: 500px; 
	margin-top: 90px;
	margin-left: 12%;
	margin-right: 4%;
	margin-bottom: 80px; 
	
}	

.imgleft {
	float: left;
	max-width: 500px; 
	margin-left: 4%;
	margin-right: 9%;
}	 
	
.imgbottom {
	float: right;
	max-width: 500px; 
	margin-left: 12%;
	margin-right: 4%;
	margin-bottom: 80px; 
	margin-top: 150px;
}	


.contentright {
	margin: auto;
	margin-left: 4%;
}

.partners {
    width: 14%;
     margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px; 
}	


/*Pages products*/
/*template from this website: https://matthewjamestaylor.com/3-column-layouts*/
/* container */
feature-compare {
    display:flex;
    /* margin-top:2.5em; */
	margin-top: 10 pix;
	text-align: center;
}

/* columns */
feature-compare > * {
    position:relative;
    padding:0;
    text-align:center;
    width:25%;
}
feature-compare > :nth-child(2) {
    width:50%;
    z-index:10;
    box-shadow:0 5px 10px rgba(0, 0, 0, 25%);
}
feature-compare > :nth-child(2):before {
    content:"Le Plus Populaire";
    display:block;
    position:absolute;
    top:-2em;
    left:0;
    right:0;
    line-height:2em;
    background:#000;
    color:#fff; 
    border-top-left-radius:.4em;
    border-top-right-radius:.4em;
}
quotidien-level {
    background:#f5d55f;
}
standard-level {
    background:#cfbeae;
}
pro-level {
    background:#74cc5e;
}

/* features */
feature-compare ul {
    list-style:none;
    margin:0;
    padding:0;
    background:#fff;
}
feature-compare li {
    white-space:nowrap;
    line-height:2.2em;
    border-top:1px solid #eee;
}
feature-compare li:first-child {
    border-top:0;
}
feature-compare li.tick:before {
    content: '✓ ';
    color:#006e37;
    font-weight:bold;
    font-size:1.3em;
}
feature-compare li.cross:before {
    content: '✗ ';
    color:#ec1358;
    font-weight:bold;
    font-size:1.3em;
}
feature-compare h3 {
    margin:0;
    padding:.4em 0 0;
}
feature-compare .price {
    margin:0 0 .2em;
    font-size:2em;
    font-weight:bold;
}
feature-compare span {
    display:none;
}

/* buttons */
feature-compare .button {
    display:inline-block;
    margin:.5em 0;
    padding:.4em .5em;
    background:#000000;
    /* color:#000; */
    text-decoration:none;
    font-weight:bold;
    border-radius:.4em;
}

/* tablet breakpoint - Rescale automatiquement sur differents appareils */ 
@media (min-width:900px) {
    feature-compare {
        margin:2.5em calc(8px + 1.5625vw);
    }
    feature-compare > * {
        width:calc(100% / 3);
    }
    feature-compare span {
        display:inline;
    }
}

.button {
	padding: 10px 20px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #ffffff;
	background-color: #04AA6D;
	border: none;
	border-radius: 15px;
  
  }
  
  .button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }


.productscontent {
	margin-top:20px;
}
.hrproducts {
	width: 40%;
	border-top: 1px solid black;
}

.tableproducts {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-collapse: separate; 
	border-spacing: 14px 8px;
}	

.qty {
	border: 0.6px solid black;
	border-radius: 10%;
	width: 2rem;
    height: 2rem;
	margin-bottom: 7px;
	text-align: center;
}
		
.ajouter {
	background-color: black;
	padding: 2% 5%;
	color: white;
	border: 0;
	border-radius: 5%;
	border: 0.7px solid black;
	font-size: 70%;
}
	 
.ajouter:hover {
	background-color: white;
	color: black;
	cursor:pointer;
}		
		
.voirpanier {
	height: 35px;
}
.voirpanier:hover {
	height: 40px;
	
}

/* Formulaire  */

.container-form{
	margin-bottom: 50px;
}
#title-form{
	font-size: 40px;
	color: #40f759;
}


form {
	font-weight: bold;
	padding:20px;
	width:45%;
	text-align: left;
	margin-top: 20px;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 15px;
}
.formDeco{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

	 
.textarea {
	resize: none;
	padding: 5px 5px;
	border: 1px solid #dddddd;
}	
	 
input[type=text]:hover {
	border: 1px solid #393939;
} 
	 
input[type=submit], input[type=reset], input[type=checkbox], input[type=radio], select {
	cursor:pointer;
}
	 
input[type=submit], input[type=reset] {
	background-color: #40f759;
	padding: 2% 10%;
	color: white;
	font-size: 102%;
	border: 0;
}
	 
input[type=submit]:hover, input[type=reset]:hover {
	background-color: #58a762;
}
	 
form.connection {
	width:25%;
}
	 
input.connection {
	width:90%;
}



/*remerciement*/

.thankyou {
	max-width: 300px;
	max-height: 300px;
}  

